:root {
  --blue: #c7e5ff;
  --orange: #fda25d;
  --lightblue: #b2c5f9;
  --tangerine: #ffe5ae;
  --dark: #004798;
}

nav{
  background-color: var(--orange);
}
.custom-navbar {
  background-color: var(--orange);
}

.custom-navbar a {
  font-size: 25px;
  color: var(--tangerine);
}

.custom-navbar a:hover {
  color: white;
}

/* .bg-primary {
  background-color: var(--lightblue);
  color: var(--orange);
} */

.custom-btn {
  background-color: var(--dark);
  color: var(--blue);
}

.custom-btn:hover {
  background-color: var(--orange);
  color: var(--dark);
}

.dropdown-menu {
  font-size:10px;
  background-color: var(--orange);
}

.dropdown-menu:hover{
  background-color: var(--lightblue);
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

.card-body,
.card-header {
  background-color: var(--tangerine);
}

.project-list{
  background-color: #c7e5ff;
}

.abc{
  background-color: #c7e5ff;
}