:root {
  --blue: #c7e5ff;
  --orange: #fda25d;
  --lightblue: #a7bcf5;
  --tangerine: #ffe5ae;
  --dark: #004798;
}
body {
  font-family: 'Courier New', Courier, monospace;
  background-color: var(--lightblue);
}
nav{
  background-color: var(--orange);
}
.custom-navbar {
  background-color: var(--orange);
}

.custom-navbar a {
  font-size: 25px;
  color: var(--tangerine);
}

.custom-navbar a:hover {
  color: white;
}

.custom-btn {
  background-color: var(--dark);
  color: var(--blue);
}

.custom-btn:hover {
  background-color: var(--orange);
  color: var(--dark);
}

button{
  background-color: var(--dark);
}

button a:hover{
  color: var(--tangerine);
}

.card-body,
.card-header {
  background-color: var(--tangerine);
}

.login-card{
  background-color: #c7e5ff;
}

.abc{
  background-color: #c7e5ff;
}